{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"]
}
